<br>
<br>

<div class="card">
  <div class="card-header small">
    <ul class="nav nav-pills card-header-pills pull-right">
      <li class="nav-item">
        <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#saveTask">
          Add Task
        </button>
      </li>

    </ul>
  </div>

  <div class="row">
    <div class="col-md-4">
      <img src="assets/img/employee1.png"  alt="..." width="150" height="150">
      <h3 class="text-center">{{employee.firstName}} {{employee.lastName}}</h3>
    </div>

    <div class="col-md-8">

      <h1>Other details to be display here...</h1>

    </div>

  </div>

  <div class="card-body">
    <table  class="table table-striped table-sm" style="width:100%">
      <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Description</th>
        <th scope="col">Date Assigned</th>
        <th scope="col">Status</th>
        <th scope="col">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr  *ngFor="let task of  employee.tasks">
        <td>{{task.title}}</td>
        <td>{{task.description}}</td>
        <td>{{task.createdDate}}</td>
        <td>{{task.status}}</td>
        <td>
          <span><a class="text-dark" [routerLink]="[task.id, 'edit']"><i class="fa fa-edit mr-2"></i></a></span>
          <span><a class="text-dark" (click)="deleteTask(task.id)"><i class="fa fa-trash mr-2" ></i></a></span>

        </td>

      </tr>


      </tbody>
    </table>

  </div>

</div>

<!--/end of card -->
<!-- MODAL TO ADD TASK -->

<div class="modal fade" id="saveTask" tabindex="-1" role="dialog" aria-labelledby="exampleModalFormularioLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header bg-primary">
        <h5 class="modal-title text-white" id="exampleModalFormularioLabel">Bloqueo de cliente</h5>
      </div>
      <div class="modal-body">

        <form #f="ngForm" (ngSubmit)="onSubmitTask(f)"  class="animated fadeIn fast">

          <div class="form-group">
            <div class="form-row mb-lg-4">
              <div class="col-sm-6">
                <label class="control-label required">Title</label>
                <input ngModel #taskTitle="ngModel" [(ngModel)]="task.title" class="form-control"
                       [ngClass]="{ 'is-invalid': taskTitle.errors?.emptyField || taskTitle.errors?.maxlength }"
                       id="taskTitle"
                       name="title"
                       type="text" maxlength="50" required>
                <div *ngIf="f.submitted && taskTitle.errors">
                  <div *ngIf="taskTitle.errors?.emptyField" class="alert-message" style="color: #dd0000">
                    This field should not be empty
                  </div>
                </div>

              </div>
              <div class="col-sm-6">
                <label class="control-label required">Description</label>
                <input ngModel #description="ngModel" [(ngModel)]="task.description" class="form-control"
                       [ngClass]="{ 'is-invalid': description.errors?.emptyField || description.errors?.maxlength }"
                       id="lastName"
                       name="lastName"
                       type="text" maxlength="50" required>
                <div *ngIf="f.submitted && description.errors">
                  <div *ngIf="description.errors?.emptyField" class="alert-message" style="color: #dd0000">
                    This field should not be empty
                  </div>
                  <div *ngIf="description.errors?.maxlength" class="alert-message" style="color: #dd0000">
                    characters exceed more than 50
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="text-right">
            <button class="btn btn-primary mr-3" type="submit">Save</button>

            <button class="btn">Cancel</button>

          </div>
        </form>

      </div>
    </div>
  </div>
</div>

