/*!
* Personalizaciones Apps GrupoPreving
* LMMS - Creado: 05/2019 Modificado: 05/2019
*/
/* BOTONERA OPCIONES */
#menuLateralFacturacion {}
#menuLateralFacturacion h2 {
  height:66px;
  line-height: 40px;
}


/* CALENDARIO */
.calendario {
}
.current .card {
  border: 2px solid #17a2b8 !important
}

.calendario .mes {
  min-height: 8rem;
}
.calendario .mes .cuota {

}
.calendario .mes .cuota,
.calendario .mes .cuota input[type="text"] {
  font-size: .80rem;
  font-weight: 700;
  line-height: 33px;
  color:#000;
}

.calendario .mes .facturas {
  margin-top:5px;
  font-weight: bold;
}

.calendario .mes .rectificar {
  position: absolute;
  right: 5px;
  bottom: 5px;
}

/* Edición centros por grupos*/
td .cuota,
td .cuota input[type="text"]
 {
  font-size: .80rem;
  line-height: 33px;
  color:#000;
  text-align:right;
}

.centros-trabajo td {
  vertical-align: middle;
}

/* .calendario .mes .popover #rectificarFactura.popover-body,
#rectificarFactura.popover-body, */
#rectificarFactura {
  font-size:.75rem !important;
}

.compact-form .form-control {
    height: calc(1.25em + .5rem + 2px);
    padding: .2rem .5rem .3rem;
    line-height: 1.25;
}
