<form #f="ngForm" (ngSubmit)="onSubmitEmployee(f)" enctype="multipart/form-data" *ngIf="!saveEmployeeSpinner && !employeeSpinner && !isClosed" class="animated fadeIn fast">

  <div class="form-group">
      <div class="form-row mb-lg-4">
        <div class="col-sm-6">
          <label class="control-label required">First Name</label>
            <input ngModel #firstName="ngModel" [(ngModel)]="employee.firstName" class="form-control"
               [ngClass]="{ 'is-invalid': firstName.errors?.emptyField || firstName.errors?.maxlength }"
               id="firstName"
               name="firstName"
               type="text" maxlength="50" required>
                <div *ngIf="f.submitted && firstName.errors">
                  <div *ngIf="firstName.errors?.emptyField" class="alert-message" style="color: #dd0000">
                    This field should not be empty
                  </div>
                  <div *ngIf="firstName.errors?.maxlength" class="alert-message" style="color: #dd0000">
                   cCharacters exceed more than 50
                  </div>
                </div>
        </div>
        <div class="col-sm-6">
          <label class="control-label required">Last Name</label>
          <input ngModel #lastName="ngModel" [(ngModel)]="employee.lastName" class="form-control"
                 [ngClass]="{ 'is-invalid': lastName.errors?.emptyField || lastName.errors?.maxlength }"
                 id="lastName"
                 name="lastName"
                 type="text" maxlength="50" required>
          <div *ngIf="f.submitted && lastName.errors">
            <div *ngIf="lastName.errors?.emptyField" class="alert-message" style="color: #dd0000">
              This field should not be empty
            </div>
            <div *ngIf="lastName.errors?.maxlength" class="alert-message" style="color: #dd0000">
              characters exceed more than 50
            </div>
          </div>
        </div>
      </div>
  </div>

  <div class="form-group">
    <div class="form-row mb-lg-4">
      <div class="col-sm-12">
      <label class="control-label required">Email</label>
      <input #email="ngModel" [(ngModel)]="employee.email"
             [ngClass]="{ 'is-invalid': email.errors?.emptyField || email.errors?.maxlength || email.errors?.pattern }"
             class="form-control"
             id="email"
             name="email"
             type="text"
             maxlength="80" required email>
        <div *ngIf="f.submitted && (email.errors?.emptyField || email.errors?.maxlength || email.errors?.pattern)">
          <div *ngIf="email.errors?.emptyField" class="alert-message" style="color: #dd0000">
            This field should not be empty
          </div>
          <div *ngIf="email.errors?.maxlength" class="alert-message" style="color: #dd0000">
            characters must not exceed 80
          </div>
          <div *ngIf="email.errors?.pattern" class="alert-message" style="color: #dd0000">
            The pattern of the email must be correct
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group">

    <div class="form-row mb-lg-4">

      <div class="col-sm-12">
            <label class="control-label required">Address</label>
                <input ngModel #address="ngModel" [(ngModel)]="employee.address" class="form-control"
                       [ngClass]="{ 'is-invalid': address.errors?.emptyField || address.errors?.maxlength }"
                       id="address"
                       name="address"
                       type="text" maxlength="150" required>
                        <div *ngIf="f.submitted && address.errors">
                          <div *ngIf="address.errors?.emptyField" class="alert-message" style="color: #dd0000">
                            This field should not be empty
                          </div>
                          <div *ngIf="address.errors?.maxlength" class="alert-message" style="color: #dd0000">
                            characters exceed more than 150
                          </div>
                        </div>
      </div>
    </div>
  </div>

  <div class="form-group">
      <div class="form-row mb-lg-4">
        <div class="col-md-6">
          <label class="control-label required">Gender</label>
            <select  #gender="ngModel" [(ngModel)]="employee.gender" class="form-control"
                     [ngClass]="{'is-invalid': gender.errors?.emptyField}"
                     id="gender"
                     name="gender" required>
                      <option value="Male">Male</option>
                      <option value="Female">Female</option>
                      <option value="Other">Other</option>
            </select>
              <div *ngIf="f.submitted && gender.errors">
                <div *ngIf="gender.errors?.emptyField" class="alert-message" style="color: #dd0000">
                  Enter employee gender
                </div>
              </div>
        </div>
        <div class="col-md-6">
          <label class="control-label required">Department</label>
          <select  #department="ngModel" [(ngModel)]="employee.department" class="form-control"
                   [ngClass]="{ 'is-invalid': department.errors?.emptyField}"
                   id="department"
                   name="department" required>
                    <option value="Computer Science">Computer Science</option>
                    <option value="Planning">Planning</option>
                    <option value="Accounting">Accounting</option>
                    <option value="Other">Other</option>
          </select>
            <div *ngIf="f.submitted && department.errors">
              <div *ngIf="department.errors?.emptyField" class="alert-message" style="color: #dd0000">
               Select employee department
              </div>
            </div>
        </div>
      </div>
    </div>

  <div class="form-group">
        <div class="form-row mb-lg-4">
          <div class="col-md-12">
            <label class="control-label">Phone Number</label>
                <input #phoneNumber="ngModel" [(ngModel)]="employee.phoneNumber"  class="form-control"
                       [ngClass]="{ 'is-invalid': phoneNumber.errors?.emptyField || phoneNumber.errors?.pattern }"
                       id="phoneNumber"
                       name="phoneNumber"
                       maxlength="9"
                       type="text" required>
                        <div *ngIf="f.submitted && phoneNumber.errors?.emptyField || phoneNumber.errors?.pattern">
                          <div *ngIf="phoneNumber.errors?.emptyField" class="alert-message" style="color: #dd0000">
                            Enter the employee phone number
                          </div>
                          <div *ngIf="phoneNumber.errors?.pattern" class="alert-message" style="color: #dd0000">
                            Enter correct phone number pattern
                          </div>
                        </div>
          </div>
        </div>
      </div>

  <button class="btn btn-primary mr-3" type="submit">Submit</button>

  <button class="btn" (click)="resetemployeeForm()"  style="background-color: #2fdfe5">Reset</button>

</form>

















<!--<div [hidden]="submitted" style="width: 800px;">-->
    <!--<div class="modal-body">-->
      <!--<div class="row mt-5">-->
        <!--<div class="col">-->
          <!--<form #f="ngForm" (ngSubmit)="onSubmitEmployee(f)" class="animated fadeIn fast">-->
            <!--<div class="form-row mb-lg-4">-->
              <!--<div class="col-8">-->
                <!--<input id="firstName"-->
                       <!--required type="text"-->
                       <!--class="form-control"-->
                       <!--name="firstName"-->
                       <!--maxlength="30"-->
                       <!--placeholder="Enter employee first name"-->
                       <!--[(ngModel)]="employee.firstName"-->
                       <!--#firstName="ngModel">-->
                <!--<div *ngIf="f.submitted && firstName.errors">-->
                  <!--<div *ngIf="firstName.errors?.emptyField" class="alert-message">-->
                    <!--<div style="color: red">Employee First name is missing</div>-->
                  <!--</div>-->
                  <!--<div *ngIf="firstName.errors?.maxlength" class="alert-message">-->
                    <!--<div style="color: red">Maximum number of character must not exceed 30</div></div>-->
                <!--</div>-->
              <!--</div>-->
              <!--<div class="col-4">-->

                <!--<input id="lastName"-->
                       <!--required type="text"-->
                       <!--class="form-control"-->
                       <!--name="lastName"-->
                       <!--maxlength="30"-->
                       <!--placeholder="Enter employee last name"-->
                       <!--[(ngModel)]="employee.lastName"-->
                       <!--#lastName="ngModel">-->
                <!--<div *ngIf="f.submitted && lastName.errors">-->
                  <!--<div *ngIf="lastName.errors?.emptyField" class="alert-message">-->
                    <!--<div style="color: red">Employee Last name is missing</div>-->
                  <!--</div>-->
                  <!--<div *ngIf="lastName.errors?.maxlength" class="alert-message">-->
                    <!--<div style="color: red">Maximum number of character must not exceed 30</div>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->

            <!--<div class="form-row mb-4">-->
              <!--<div class="col-12">-->
                <!--<input #address="ngModel" [(ngModel)]="employee.address" [ngClass]="{'alert-border': address.errors?.emptyField || address.errors?.maxlength-->
                              <!--|| address.errors?.pattern}"-->
                       <!--class="form-control"-->
                       <!--id="address"-->
                       <!--name="address"-->
                       <!--placeholder="Enter employee address"-->
                       <!--type="email" required="email">-->
                <!--<div *ngIf="f.submitted && (address.errors?.emptyField || address.errors?.maxlength)">-->
                  <!--<div *ngIf="address.errors?.emptyField" class="alert-message">-->
                    <!--<div style="color: red">Email field must be empty</div>-->
                  <!--</div>-->
                  <!--<div *ngIf="address.errors?.maxlength" class="alert-message">-->
                    <!--<div style="color: red">Address must exceed the set number of chracters</div></div>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->

            <!--<div class="form-row mb-lg-4">-->
              <!--<div class="col-6">-->
                <!--<input #emailId="ngModel" [(ngModel)]="employee.emailId" [ngClass]="{'alert-border': emailId.errors?.emptyField || emailId.errors?.maxlength|| emailId.errors?.pattern}"-->
                       <!--class="form-control"-->
                       <!--id="emailId"-->
                       <!--name="emailId"-->
                       <!--placeholder="Email"-->
                       <!--type="email" required="email">-->
                <!--<div *ngIf="f.submitted && (emailId.errors?.emptyField || emailId.errors?.maxlength || emailId.errors?.pattern)">-->
                  <!--<div *ngIf="emailId.errors?.emptyField" class="alert-message">-->
                    <!--<div style="color: red">Email field must be empty</div>-->
                  <!--</div>-->
                  <!--<div *ngIf="emailId.errors?.maxlength" class="alert-message">-->
                    <!--<div style="color: red">Length of the email must exceed the set number of chracters</div></div>-->
                  <!--<div *ngIf="emailId.errors?.pattern" class="alert-message">-->
                    <!--<div style="color: red">The pattern of the email must be correct</div>-->
                  <!--</div>-->

                <!--</div>-->
              <!--</div>-->

              <!--<div class="col-6">-->
                <!--<input #phone="ngModel" [(ngModel)]="employee.phone"-->
                       <!--[ngClass]="{'alert-border': phone.errors?.emptyField || phone.errors?.pattern}"-->
                       <!--class="form-control"-->
                       <!--id="phone"-->
                       <!--maxlength="9"-->
                       <!--name="phone"-->
                       <!--placeholder ="Phone"-->
                       <!--type="text">-->

                <!--<div *ngIf="f.submitted && (phone.errors?.emptyField || phone.errors?.pattern)">-->
                  <!--<div *ngIf="phone.errors?.emptyField" class="alert-message">-->
                    <!--<div style="color: red">phone number empty</div>-->
                  <!--</div>-->

                  <!--<div *ngIf="phone.errors?.pattern" class="alert-message">-->
                    <!--<div style="color: red">phone number pattern</div>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->

            <!--<div class="form-row mb-4">-->
              <!--<div class="col-6">-->
                <!--<select class="custom-select" name="gender"-->
                        <!--#gender="ngModel" id="gender"-->
                        <!--[(ngModel)]="employee.gender">-->
                  <!--<option value="0">Male</option>-->
                  <!--<option value="1">Female</option>-->
                  <!--<option value="2">Other</option>-->
                <!--</select>-->
              <!--</div>-->

              <!--<div class="col-6">-->
                <!--<select class="custom-select" name="department"-->
                        <!--#department="ngModel" id="department"-->
                        <!--[(ngModel)]="employee.department">-->
                  <!--<option value="0">Computer Science</option>-->
                  <!--<option value="1">Accounting</option>-->
                  <!--<option value="2">Policies</option>-->
                  <!--<option value="3">Management</option>-->
                <!--</select>-->
              <!--</div>-->
            <!--</div>-->
            <!--<hr/>-->

            <!--<div class="form-group row mb-4">-->
              <!--<div class="col-12 text-right">-->
                <!--&lt;!&ndash;<app-spinner *ngIf="employeeSpinner"></app-spinner>&ndash;&gt;-->
                <!--<button class="btn btn-primary mr-3" name="" type="submit">Save</button>-->
                <!--<button class="btn btn-outline-secondary" type="button"(click)="resetEmployee()">-->
                  <!--Cancel-->
                <!--</button>-->
              <!--</div>-->
            <!--</div>-->
          <!--</form>-->

        <!--</div>-->

      <!--</div>-->

    <!--</div>-->

  <!--</div>-->

  <!--<div [hidden]="!submitted">-->
    <!--<h4>You submitted successfully!</h4>-->
     <!--<button class="btn btn-success" (click)="newEmployee()">Add</button>-->
  <!--</div>-->



