/* You can add global styles to this file, and also import other style files */
body {
  padding-bottom: 50px;
}

.main-container {
  margin-top: 20px;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fast {
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}

.notification {
  background-color: #572364;
  opacity: 0.5;
}

.my-modal-header {
  background-color: #572364;
  color: white;
}


.multiselect-dropdown .dropdown-btn .selected-item  {
  margin-right: 4px;
  background: #572364 !important;
  padding: 0 5px;
  color: #ffffff;
  border-radius: 2px;
  float: left;
  border:1px solid #572364 !important;
}

.multiselect-item-checkbox input[type=checkbox] + div:before {
  border: 2px solid #572364 !important;
}

.multiselect-item-checkbox input[type=checkbox]:checked + div:before{
  background: #572364 !important;
}
